# Core functionality - changes here should be rare!
/src/app.py                   @boiken
/src/backend/database.py      @boiken
/src/backend/routers/auth.py  @boiken

# The frontend will need refactored soon to be more object oriented.
/src/static/   @boiken
